.gray {
  background-color: lightgray;
  /* width: 100%; */
  height: 2000px;
  margin-top: 500px;
}

.image {
  float: right;
  width: 60%;
  position: sticky;
  top: 100px;
}

.text {
  float: left;
  width: 40%;
}
