:root {
  /* 스크롤 바 스무스하게 동작하는 것 방지 */
  scroll-behavior: auto;
}

.dark {
  background-color: black;
  color: white;
}

.list-group {
  display: none;
}

.show {
  display: block;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: black;
  z-index: 1;
  padding: 30px;
  /* display: none과 유사 */
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar-brand {
  font-size: 30px;
  transition: all 0.5s;
}

.show-modal {
  /* display: block과 유사 */
  visibility: visible;
  opacity: 1;
}

.badge {
  cursor: pointer;
}

.slide-container {
  width: 500vw;
  transition: all 1s;
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}
